* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #22212C;
    width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    background-color: #22212C;
    width: 388px;
    height: 100%;   
}

.container2 {
    background-color: #22212C;
    width: 1050px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 348px;
    background-color: #302F3D;
    color: #837E9F;;
    margin-left: 40px;
}

.box1 {   
    background-color: #302F3D;
    color: #837E9F;

}

.profile {
    height: 275px;
    margin-top: 40px;
}

.links {
    height: 348px;
    margin-top: 47px;
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.tecnologies {
    height: 275px;
    margin-top: 30px;
}

.experience {
    height: 275px;
    margin-top: 30px;
}

.education {
    height: 275px;
    margin-top: 30px;
    margin-bottom: 58px;
}

.my-projects {
    width: 952px;
    height: 86px;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;

}

.txt {
    color: #837E9F;
    font-family: 'Merriweather Sans', sans-serif;
    margin: auto 30px;
}

.myprojects {
    font-weight: 500;
    font-size: 20px;
}

.veja-todos {
    font-weight: 400;
    font-size: 14px;
}

.recent-posts {
    width: 952px;
    height: 86px;
    margin-top: 30px;
    margin-left: 60px;
    order: 3;
    display: flex;
}

.recentposts {
    font-weight: 500;
    font-size: 20px;
}

.project1 {
    width: 461px;
    height: 186px;
    margin-top: 30px;
    margin-left: 60px;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans', sans-serif;
}

.project2 {
    width: 461px;
    height: 186px;
    margin-top: 30px;
    margin-left: 30px;
    order: 2;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans', sans-serif;
}

.post {
    width: 952px;
    height: 201px;
    margin-top: 30px;
    margin-left: 60px;
    order: 4;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans', sans-serif;
    
}

.folder {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700;
}

.my-onix {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    
}

.texto {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
}

.estrela {
    margin-left: 30px;
    text-align: center;
}

.git {
    margin-left: 10px;
}

.bullet {
    margin-left: 200px;
}

.cem {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.foto {
    margin-top: 30px;
    margin-left: 30px;
    width: 128px;
    height: 128px;
    border: 1px solid #fff;
}

.posttexto {
    margin-top: 30px;
    margin-left: 20px;
    width: 612px;
    height: 129px;  
}

.titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
}

.paragrafo {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.tempo {
    font-size: 14px;
    font-weight: 400;
}

.hashtag {
    font-size: 14px;
    font-weight: 400;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
}


.link {
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 3px;
}

.briefcase {
    margin-top: 20px;
}

.github {
    margin-top: 20px;
}

.linkedin {
    margin-top: 20px;
}

.twitter {
    margin-top: 20px;
}

.globe {
    margin-top: 20px;
}

.mail {
    margin-top: 20px;
}

.rocketseat {
    margin-top: 28px;

} 

.biro {
    margin-top: 26px;

}

.linkedin2 {
    margin-top: 29px;

}

.tt {
    margin-top: 26px;

}

.site {
    margin-top: 26px;

}

.email {
    margin-top: 26px;

}


